a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #EAF6F6;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.code-skiil-description {
  /*clear: left;*/
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 5px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  border: dotted #EAF6F6;
  width: 6%;
  border-bottom: 0;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {
  background-color: #66BFBF;
  margin: 40px auto 0 auto;
  padding: 50px 0 20px;
}

.profile-img {
  height: 300px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 80px;
}

.bottom-cloud {
  position: absolute;
  right: 800px;
  bottom: 300px;
}
img.animated-gif{
  width: 2800px;
  height: 200px;
}


}

/***********************Botton**********************/
.btn {
  background: #11cDD4;
  background-image: -webkit-linear-gradient(top, #11cDD4, #11999e);
  background-image: -moz-linear-gradient(top, #11cDD4, #11999e);
  background-image: -ms-linear-gradient(top, #11cDD4, #11999e);
  background-image: -o-linear-gradient(top, #11cDD4, #11999e);
  background-image: linear-gradient(to bottom, #11cDD4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/*********************Image resize and Float***************/
.skill-img {
  height: 250px;
  float: left;
  margin-left: 30px;
}

.skill-center-img {
  border-radius: 50%;
}

.bike-img {
  height: 250px;
  float: right;
  margin-left: 30px;
}

.bike-center-img {
  border-radius: 50%;
}
